@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; /* Removes default margins from common elements */
}

ul,
ol {
  list-style: none; /* Removes default bullet points/numbers */
  padding: 0;
}

i.mi {
  font-family: "Material Icons";
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #242424;
  color: white;
  text-align: center;
}

.container {
  max-width: 600px;
  animation: 0.3s fadeInUp ease-in forwards;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  background: white;
  color: #242424;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s;
  animation: 0.5s fadeInUp ease-in forwards;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.logo-container{
  height: fit-content;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: 0.5s fadeInUp ease-in forwards;
  img{
    height: 100%;
    aspect-ratio: 2/1;
    object-fit:contain;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}